html, body { padding: 0; margin: 0; width: 100%; height: 100%; }
body { /*padding-top: 40px;*/ background: #f0f0f0; }

#header .nav li p {
    padding-left: 20px;
    font-size: 30px;
}

horizontal-center {
	text-align: center;
}

/* Required parent of the centered element */
.centered-container {
	height: 100%;
	text-align: center;
}

/* Ghost element, nudged to maintain perfect centering */
.centered-container:before {	
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
	display: inline-block;
	vertical-align: middle;
}